/* 
    general
*/
nav{
    box-shadow: 0px 5px 5px 0px #656565;
}

.navbar{
    background-color: lightgreen;
    border: 0;
    margin: 0;
}

.navbar-default .navbar-toggle{
    border-color: green;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: palegreen;
}

.navbar-collapse{
    border-top:0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: palegreen;
}

body{
    background-color: white;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding-top: 10px;
    box-shadow: 0px 5px 5px 0px #656565 inset;
    align-items: center;
}

.hidden{
    display: none;
    visibility: hidden;
}

main{
    padding: 15px 0;
    min-height: 85vh;
}

/*
    Auth pages
        register
        login
        logged in
        forgot password
*/

main#auth form input[type="text"], main#auth form input[type="password"], main#auth form input[type="email"]{
    width: 100%;
    outline-color: palegreen;
    margin-bottom: 10px;
    border: 1px solid darkgray;
    border-radius: 0;
    box-shadow: 0px 2px 5px 0px #656565;
}

main#auth form button{
    width: 130px;
    background-color: palegreen;
    border: 1px solid darkgray;
    border-radius: 0;
    color: #656565;
    box-shadow: 0px 2px 5px 0px #656565;
}

main#auth form button.wide{
    width: 200px;
}

main#auth form button:hover{
    box-shadow: 0px 5px 15px 0px #656565;
}

main#auth form button:focus{
    box-shadow: 0px 2px 5px 0px #656565 inset;
    outline: 0;
}

/*
    Welcome page
*/
main#welcome{
    background-image: url(/img/welcome_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

main#welcome h1{
    margin-top: 0;
}

main#welcome *{
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 15px;
    opacity: 0;
}

main#welcome a{
    font-size: 1.5em;
}

/*
    Products display page
*/
h1{
    text-align: center;
}

hr{
    margin: 10px 0;
}

#productsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 2vw;
}

.productCard{
    border: 1px solid darkgray;
    padding: 5px;
    box-shadow: 0px 5px 5px 0px #656565;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 15px;
}

.productCard:hover{
    box-shadow: 0px 5px 5px 0px green;
    border: 1px solid palegreen;
}

.productCard .base{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 340px;
}

.productCard .base img{
    width: 100%;
    height: auto;
}

.productCard .desc{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

/*
    Contact page
*/

main#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main#contact h1{
    text-align: center;
}

main#contact p {
    font-weight: bold;
    text-align: center;
}

main#contact form{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

main#contact form input, main#contact form textarea {
    width: 100%;
    outline-color: palegreen;
    margin-bottom: 10px;
    border: 1px solid darkgray;
    box-shadow: 0px 2px 5px 0px #656565;
}

main#contact form input[type="text"], main#contact form textarea{
    padding: 10px;
}

main#contact form textarea{
    resize: none;
}

main#contact form input:last-of-type{
    background-color: palegreen;
    align-self: center;
    width: 130px;
}

main#contact form input:last-of-type:hover{
    box-shadow: 0px 5px 15px 0px #656565;
}

main#contact form input:last-of-type:focus{
    box-shadow: 0px 2px 5px 0px #656565 inset;
    outline: 0;
}

/*
    See messages page
*/

main#messages{
    display: flex;
    align-items: center;
    justify-content: center;
}

main#messages > div{
    border: 1px solid darkgray;
    background-color: #f5f5f5;
    padding: 5px;
    box-shadow: 0px 5px 5px 0px #656565;
    max-width: 700px;
}

#messagesTable th{
    text-align: center;
}

#messagesTable tr{
    border-bottom: 1px solid darkgray;
}

#messagesTable td{
    padding: 0 5px;
}

#messagesTable tr td:first-child, #messagesTable tr th:first-child{
    width: 20%;
}

#messagesTable tr :nth-child(2){
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray;
    width: 70%;
}

#messagesTable tr :nth-child(3){
    background-color: #f5f5f5;
    width: 10%;
}

.unread{
    background-color: lightcoral;
}

/*
    Add product page
*/
#wysiwyg{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

main#add h1{
    text-align: center;
}

main#add #form{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

main#add #formUpper{
    display: flex;
    flex-wrap: wrap;
}

main#add #formUpper #formLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main#add input[type="text"], main#add textarea{
    outline-color: palegreen;
    border: 1px solid darkgray;
    box-shadow: 0px 2px 5px 0px #656565;
}

main#add #formUpper #formRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main#add textarea{
    resize: none;
    width: 180px;
}