nav{
    box-shadow: 0px 5px 5px 0px #656565;
}

.navbar{
    background-color: lightgreen;
    border: 0;
    margin: 0;
}

.navbar-default .navbar-toggle{
    border-color: green;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: palegreen;
}

.navbar-collapse{
    border-top:0;
}

.navbar-default .navbar-toggle:hover{
    background-color: palegreen;
}

body{
    background-color: white;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding-top: 10px;
    box-shadow: 0px 5px 5px 0px #656565 inset;
    align-items: center;
}

.hidden{
    display: none;
    visibility: hidden;
}

main{
    min-height: 76vh;
}

main#welcome{
    background-image: url(/img/welcome_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

main#welcome h1{
    margin-top: 0;
}

main#welcome *{
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 15px;
}

main#welcome a{
    font-size: 1.5em;
}

hr{
    margin: 10px 0;
}

#productsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 2vw;
}

.productCard{
    border: 1px solid darkgray;
    padding: 5px;
    box-shadow: 0px 5px 5px 0px #656565;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 15px;
}

.productCard:hover{
    box-shadow: 0px 5px 5px 0px green;
    border: 1px solid palegreen;
}

.productCard .base{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 340px;
}

.productCard .base img{
    width: 100%;
    height: auto;
}

.productCard .desc{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main#contact h1{
    text-align: center;
}

main#contact p {
    font-weight: bold;
    text-align: center;
}

main#contact form{
    display: flex;
}

main#messages{
    display: flex;
    align-items: center;
    justify-content: center;
}

main#messages > div{
    border: 1px solid darkgray;
    padding: 5px;
    box-shadow: 0px 5px 5px 0px #656565;
    max-width: 700px;
}

#messagesTable th{
    text-align: center;
}

#messagesTable tr td:first-child, #messagesTable tr th:first-child{
    background-color: green;
    width: 20%;
}

#messagesTable tr :nth-child(2){
    background-color: blue;
    width: 70%;
}

#messagesTable tr :nth-child(3){
    background-color: red;
    width: 10%;
}